{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{ingredient.0}}" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="cantidad" value="{{contact.1}}" placeholder="Cantidad">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="unidad_medida" value="{{contact.2}}" placeholder="Unidad de medida">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="nombre_pastel" value="{{contact.3}}" placeholder="Nombre del pastel">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                Update
                </button>
            </div>
            </form>
        </div>
    </div>
  </div>

{% endblock %}
